*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 90%;
  margin: 30px auto 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  max-width: 1850px;
  min-width: 1000px;
}

.row{
  text-align: center;
}

.discount, .sostenibile{
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  color: white;
}

.zoom{
  background-color: green;
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.05);
}


/* Product and tags */
.product, .product img, .zoom{
  width: 336px;
  height: 483px;
}
/* product */
.product{
  position: relative;
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 100px;
}


/* hover for changing the foto */

.product:hover .images-1{
  content: url('../img/1b.webp');
}
.product:hover .images-2{
  content: url('../img/2b.webp');
}
.product:hover .images-3{
  content: url('../img/3b.webp');
}
.product:hover .images-4{
  content: url('../img/4b.webp');
}
.product:hover .images-5{
  content: url('../img/5b.webp');
}
.product:hover .images-6{
  content: url('../img/6b.webp');
}


/* tag */
.tags{
  position: absolute;
  bottom: 20px;
}
.discount{
  background-color: red;
}
.discount::after{
  content: '\0025';
}

.sostenibile{
  background-color: green;
}

.heart{
  display: none;
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 2rem;
  background-color: white;
  padding: 7px 13px;
  text-align: center;
  line-height: 100%;
}

.product:hover .heart{
  display: block;
}


/* texts */
.text{
  position: absolute;
  top: 100%;
  text-align: left;
  height: 60px;
  padding-top: 10px;
}

.dis-price::after, .price::after{
  content: ' \20AC';
}

.dis-price{
  color: red;
}

.price{
  text-decoration: line-through;
}


.price-nd{
  text-decoration: none;
}
.price-nd::after{
  content: ' \20AC';
}


.series, .dis-price{
  font-weight: bold;
}
